.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main";
}

/* GRID TEMPLATE AREAS */

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
}

/* HEADER */

.header {
    background-color: purple;
    display: flex;
    width: 100%;
}



.header h1 {
    margin-right: auto;
}

.user-corner {
    display: flex;
    flex-direction: row;
}

/* MAIN NAVIGATION */

.nav {
    display: flex;
    flex-direction: row;
    background: green;
    margin-top: auto;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    height: 100%;
}

.nav a {
    margin: 0 10px;
    /* Adjust the spacing between items */
}

.nav img {
    max-width: 50px;
    width: 100%;
    height: auto;
}

/* DASHBOARD */

.main {
    display: grid;
}

/* MAIN HEADER */

.dashboard-header {
    display: flex;
    flex-direction: row;
}

.headline {
    margin-right: auto;
}

.tab {
    background-color: grey;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}

/* ALERT */

.alert {
    background-color: pink;
}

/* TRAFFIC */

.traffic-header {
    display: flex;
    flex-direction: column;
}

.traffic-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.traffic-nav li {
    list-style: none;
    margin: 10px;
}

.traffic-nav li:active {
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 20px;

}

.canvas {
    width: 70vw;
}

.widget-container-full,
.widget-container-half {
    width: 95vw;
}

/************************
 TABLET STLYING 
 ***********************/

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
            "header header"
            "nav main"
    }

    /* NAV */

    .nav {
        flex-direction: column;
        justify-content: flex-start;

    }

    .nav a {
        margin: 0 10px;
        /* Adjust the spacing between items */
    }

    /* MAIN SECTION COLUMNS*/

    .main {
        background-color: red;
        grid-template-columns: 50%;
    }

    .dashboard-header,
    .alert,
    .traffic,
    .social {
        grid-column: 1 / span 2;
    }

    .daily,
    .members,
    .message {
        grid-column: 1 / span 1;
    }

    .mobile,
    .activity,
    .settings {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }

/* TRAFFIC */

.traffic-header {
    display: flex;
    flex-direction: row;
}

.traffic-header h3 {
    margin-right: auto;
}


}